// Screen sizes
$tablet-width: 768px;
$desktop-width: 1024px;

// Colors
$gray-dark: #191919;
$gray-dark: #4c4c4c;
$gray: #7c7c7c;
$primary: #cc9900;
$primary-light: #c9a131;

// Typography
$font-family-1: 'Lato', sans-serif;
$font-family-2: 'Yeseva One', cursive;

// Spacing
$spacer-1: 6.25px;
$spacer-2: 12.5px;
$spacer-3: 25px;
$spacer-4: 50px;
$spacer-5: 100px;